/**
 * Cascade CSS Framework designed to make life easier
 * print.css
 * 
 * @package cascade css
 * @author Michelle Britton & Chris Cook
 * @version 1.0
 * @copyright Michelle Britton & Chris Cook 2008
 */

/* Remove unwanted elements */
/*Add a list of your unwanted elements here*/
/*
#unwanted element, etc
{
	display: none;
}
*/

* { display: none; }

@media print
{
    *{display:none;}
    #printable{display:block;}
}

/* If you're having trouble printing relative links, uncomment and customize this:
   (note: This is valid CSS3, but it still won't go through the W3C CSS Validator) */

/* a[href^="/"]:after {
  content: " (http://www.yourdomain.com" attr(href) ") ";
} */
