.idea
.idea/*
scrap_accounts
scrap_accounts/*
scrap_people
scrap_people/*
scrap_shows
scrap_shows/*
scrap_products/2/image/Logo_1B_small.png

scrap_products/1/image/Facbook_Profile_Pic.jpg

scrap_shows/.DS_Store

scrap_shows/.DS_Store
