.idea
.idea/*
scrap_accounts
scrap_accounts/*
scrap_people
scrap_people/*
scrap_shows
scrap_shows/*
scrap_products/2/image/Logo_1B_small.png

scrap_products/1/image/Facbook_Profile_Pic.jpg

scrap_shows/.DS_Store

scrap_shows/.DS_Store

.DS_Store

scrap_accounts/.DS_Store

scrap_assets/.DS_Store

scrap_assets/images/universal/nav_back.png

scrap_shows_temp/temp__temp/veggies.jpg

scrap_shows_temp/temp_dfvhaX_temp/veggies.jpg

scrap_shows_temp/temp_ip_temp/veggies.jpg

scrap_shows_temp/temp_jxofxxz_temp/veggies.jpg

scrap_shows_temp/temp_nwwVY_temp/veggies.jpg

scrap_shows_temp/temp_ocvz_temp/veggies.jpg
