/**
 * customers.css
 * 
 * Written by Chris Humboldt at Emerge Studio
 */

/*-------------------------------------------------------

	Table of Contents:
	General
  
---------------------------------------------------------*/



/* GENERAL
--------------------------------------------------------------------------------------- */
.middle .whiteBack.coolScreen {
    padding: 50px;
}
.middle .whiteBack.coolScreen textarea {
    width: 97%;
    height: 250px;
    padding: 15px;
}
.middle .whiteBack.coolScreen.checkoutConfirmation h2 {
    padding: 25px;
    background-color: #ddf4fe;
    border: 1px solid #25aae1;
    text-align: center;
    text-shadow: none;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.middle .whiteBack.coolScreen.checkoutConfirmation .heading {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 200;
}
.middle .whiteBack.coolScreen.checkoutConfirmation .content {
    padding: 4px 10px;
    font-size: 16px;
    font-weight: 200;
}
.middle .whiteBack.coolScreen.checkoutConfirmation .content b {
    font-size: 16px;
    font-weight: bold;
}