/**
 * customers.css
 * 
 * Written by Chris Humboldt at Emerge Studio
 */

/*-------------------------------------------------------

	Table of Contents:
	General
	Shifter Pane
	Sunbox
  
---------------------------------------------------------*/



/* GENERAL
--------------------------------------------------------------------------------------- */
.middle .shifterPane_2 .listContain, .middle .shifterPane_3 .listContain {
    padding: 0px;
}
.middle .groupContainer {
    padding: 5px 0px;
}
.middle .groupContainer a {
    font-size: 13px;
}
.middle .groupContainer .btnDeleteGroup, .middle .groupContainer .btnEditGroup {
    font-size: 18px;
}
.middle .groupContainer .btnEditGroup {
    font-size: 14px;
    margin-top: 2px;
    margin-right: 6px;
}
.middle .groupContainer .btnDeleteGroup:hover , .middle .groupContainer .btnEditGroup:hover {
    cursor: pointer;
    color: #d61818;
}



/* SHIFTER PANE
--------------------------------------------------------------------------------------- */
.shifterPane_1 div.uploader input {
    width:190px;
    margin-bottom:0px;
}
.shifterPane_1 div.uploader input:hover {
    cursor: pointer;
}
.shifterPane_1 .field {
    float: left;
    padding: 6px 14px;
    margin: 5px 5px 0px 0px;
    color: #fff;
    text-shadow: none;
    font-weight: 500;
    font-size: 13px;
    font-weight: 200;
    background-color: #fcb040;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.shifterPane_2 .checkDataContainer {
    display:none;
}
.shifterPane_2 .loader, .shifterPane_3 .loader {
    width: 100%;
    margin: 21px 0px;
    padding-top: 35px;
    text-align: center;
    font-size: 16px;
    background-image: url(../../images/universal/ajax_loader10.gif);
    background-position: top center;
    background-repeat: no-repeat;
}
.shifterPane_2 .coolTable.customers, .shifterPane_3 .coolTable.customers {
    display: block;
    width: 1120px;
    overflow: auto;
}
.shifterPane_2 .coolTable.customers td .cross, .shifterPane_2 .coolTable.customers td .tick, .shifterPane_3 .coolTable.customers td .cross, .shifterPane_3 .coolTable.customers td .tick {
    display:block;
    width:15px;
    height:15px;
    background-repeat: no-repeat;
    text-indent: -1000px;
    overflow: hidden;
}
.shifterPane .btnRemoveError .btnIcon {
    display: block;
    float:left;
    width:15px;
    height:15px;
    margin: 2px 5px 0px -4px;
    background-image: url(../../images/icons/small_cross_3.png);
}
.checkDataContainer .shifterPane_2 .coolTable.customers td:hover {
    cursor: pointer;
}
.shifterPane_2 .coolTable.customers td.editingField {
    background-color: #fffdd9;
}
.shifterPane_2 .coolTable.customers td .cross, .shifterPane_3 .coolTable.customers td .cross {
    background-image: url(../../images/icons/small_cross_3.png);
}
.shifterPane_2 .coolTable.customers td .tick, .shifterPane_3 .coolTable.customers td .tick {
    background-image: url(../../images/icons/small_tick_2.png);
}
.shifterPane_2 .coolTable.customers td input, .shifterPane_3 .coolTable.customers td input {
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
    font-size: 13px;
    line-height: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    color: #585858;
}
.shifterPane_2 .coolTable.customers td.errorWidth, .shifterPane_2 .coolTable.customers td.errorWidth div, .shifterPane_3 .coolTable.customers td.errorWidth, .shifterPane_3 .coolTable.customers td.errorWidth div {
    max-width: 170px;
}
.shifterPane_2 .coolTable.customers td.errorWidth div, .shifterPane_3 .coolTable.customers td.errorWidth div {
    display: block;
    width: 170px;
    white-space: normal;
}
.shifterPane_3 .loader {
    margin: 46px 0px 21px 0px;
}



/* SUNBOX
--------------------------------------------------------------------------------------- */
.sunBox.popAddCustomer table {
    width: 100%;
}
.sunBox.popAddCustomer table th, .sunBox.popAddCustomer table td {
    padding: 3px 5px;
    vertical-align: middle;
}
.sunBox.popAddCustomer table td input {
    font-size: 13px;
}
.sunBox.popAddCustomer .contentCenter .popup .inset input, .sunBox.popAddCustomer .contentCenter .popup .inset select {
    margin-bottom: 0px;
}
.sunBox .scrapButton.blueButton.btnAddCustomerNow {
    padding: 5px 16px;
    margin: 0px;
    margin-bottom: 15px;
}
.sunBox.popAddCustomer table .topLine td {
    padding: 13px 5px 12px 5px;
    border-top: 1px solid #f8f8f8;
}
.sunBox.popAddCustomer table td .loader, .sunBox.popAddCustomer table td .tick, .sunBox.popAddCustomer table td .cross {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    background-image: url(../../images/universal/ajax_loader11.gif);
    background-repeat: no-repeat;
    background-position: center;
}
.sunBox.popAddCustomer table td .tick {
    background-image: url(../../images/icons/scrap_note_tick.png);
}
.sunBox.popAddCustomer table td .cross {
    background-image: url(../../images/icons/scrap_note_cross.png);
}
.sunBox.popAddGroup .customerCheckContain, .sunBox.popEditGroup .customerCheckContain {
    float: left;
    margin-top: 5px;
    width: 250px;
}
.sunBox.popAddGroup .customerCheckContain .customerName, .sunBox.popEditGroup .customerCheckContain .customerName {
    padding: 3px 10px;
}


.sunBox.popAddCustomerByGroup .groupSelection {
    margin: 0px 3px 1px 3px;
    padding: 13px 10px 10px 10px;
    background-color: #fff;
}
.sunBox.popAddCustomerByGroup .contentCenter .popup .groupSelection .icon {
    float: left;
    margin-right: 8px;
    margin-top: -3px;
    font-size: 20px;
}
.sunBox.popAddCustomerByGroup .groupSelection .icon-users-2 {
    color: #25aae1;
}
.sunBox.popAddCustomerByGroup .groupSelection:hover, .sunBox.popAddCustomerByGroup .groupSelection:hover div {
    cursor: pointer;
    background-color: #1ba2d0;
    color: #fff;
}
.sunBox.popAddCustomerByGroup .groupSelection.active {
    margin: 0px 0px 1px 0px;
    padding: 16px 15px 13px 15px;
    background-color: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.sunBox.popAddGroup .inpSearchCustomerText, .sunBox.popEditGroup .inpSearchCustomerText {
    padding-left: 34px;
    width: 480px;
    background-image: url(../../images/icons/search.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
