/**
 * customers.css
 * 
 * Written by Chris Humboldt at Emerge Studio
 */

/*-------------------------------------------------------

	Table of Contents:
	General
	Sunbox
  
---------------------------------------------------------*/



/* GENERAL
--------------------------------------------------------------------------------------- */
.ajaxProductsInFastSell {
    margin-top: -1px;
}
#flex1 td {
    vertical-align: middle;
}


/* SUNBOX
--------------------------------------------------------------------------------------- */
.sunBox.popAddProducts .contentCenter .popup .profileImage {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.sunBox.popAddProducts td, .sunBox.popAddProducts th {
    padding: 5px;
}
.sunBox.popAddProducts table {
    width: 100%;
}
.sunBox.popAddProducts td {
    vertical-align: middle;
    border-top: 1px solid #b9b9b9;
}
.sunBox.popAddProducts td .inpUnits, .sunBox.popAddProducts td .inpDiscount, .sunBox.popAddProducts td .inpPrice {
    width: 80px;
}
.sunBox.popProductsMasterDataFile .contentCenter .popup .inset input {
    display: block;
    background-color: #fff;
    margin: 0px;
}
.sunBox.popProductsMasterDataFile .downloadTemplate {
    padding: 6px 12px 6px 40px;
}
.sunBox.popProductsMasterDataFile .contentCenter .popup a {
    color: #fff;
    text-shadow: none;
    font-size: 12px;
}
.sunBox.popProductsMasterDataFile .downloadTemplate span {
    position: absolute;
    margin: -3px 0px 0px -86px;
    text-shadow: none;
    color: #fff;
    font-size: 22px;
}