/**
 * customers.css
 * 
 * Written by Chris Humboldt at Emerge Studio
 */

/*-------------------------------------------------------

	Table of Contents:
	General
  
---------------------------------------------------------*/



/* GENERAL
--------------------------------------------------------------------------------------- */
.controlBar .bigIcon {
    width: 115px;
    padding-top: 26px;
    height: 104px;
    margin-left: 13px;
    font-size: 80px;
    color: #25aae1;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.controlBar .orderDetails {
    width: 400px;
    height: 80px;
    padding: 20px 25px;
    font-size: 80px;
    border-left: 1px solid #fff;
}
.controlBar .orderDeliveryAddress {
    padding: 20px 25px;
    width: 500px;
}
.controlBar .orderDeliveryAddress .deliveryAddress {
    width: 120px;
}
.middle .coolScreen .controlBar input.yourReference {
    width: 200px;
    border: 1px solid #fff;
    padding: 5px 4px;
    font-size: 12px;
    color: #000;
}
table .leftText {
    text-align: left;
}
table .rightText {
    text-align: right;
}
table .productPrice {
    color: #069802;
}