/**
 * customers.css
 * 
 * Written by Chris Humboldt at Emerge Studio
 */

/*-------------------------------------------------------

	Table of Contents:
	General
  
---------------------------------------------------------*/



/* GENERAL
--------------------------------------------------------------------------------------- */
.pageFastSellInfo input, .pageFastSellInfo textarea {
    width: 500px;
    width: 99%;
}
.pageFastSellInfo textarea {
    height: 120px;
    width: 99%;
    padding: 9px 0px 8px 6px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(194, 194, 194) rgb(194, 194, 194) rgb(170, 170, 170);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    color: rgb(126, 126, 126);
    font-size: 14px;
    font-weight: 300;
}
input.scrap_date {
    width: 205px;
    margin-right: 10px;
}
input {
    width: 400px;
    color: #888;
    margin-bottom: 15px;
}
div.selector {
    float: left;
    width: 57px;
    margin-right: 10px;
    margin-left: -3px;
}
div.selector select {
    width: 69px;
}
div.selector span {
    width: 34px;
}
.timeLabel label {
    margin-top: 5px;
}
.inset.showDescription, .inset.showCloseDate {
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.inset.showDescription {
    width: 45%;
}
.time {
    margin-top: -10px;
}
.messageDateAndTime {
    position: absolute;
    display: block;
    width: 587px;
    height: 95px;
    margin: 320px 0px 0px 294px;
    text-indent: -1000px;
    background-image: url('../../images/universal/message_date_and_time.png');
    overflow: hidden;
}
.messageCloseDate {
    position: absolute;
    display: block;
    width: 745px;
    height: 62px;
    margin: 40px 0px 0px 325px;
    text-indent: -1000px;
    background-image: url('../../images/universal/message_close_date.png');
    overflow: hidden;
}
.inset.showDescription.floatRight {
    background-image: url(../../images/messages/date_stuff.png);
    background-repeat: no-repeat;
    background-position: 250px 108px;
}
.ui-datepicker-trigger:hover {
    cursor: pointer;
}
.middle .scrapButton2.blueButton.btnNotifyCustomers, .middle .scrapButton2.blueButton.btnStartNow {
    font-size: 16px;
    font-weight: 200;
    padding: 10px 20px;
}
.middle .scrapButton2.blueButton.btnNotifyCustomers span, .middle .scrapButton2.blueButton.btnStartNow span {
    margin-right: 10px;
    font-size: 18px;
    color: #fff;
    text-shadow: none;
}
.middle .blockFastSellImage .icon-camera {
    float: right;
    font-size: 50px;
    color: #fcb040;
}
.middle .blockFastSellImage label {
    margin-top: 0px;
}
.middle .blockFastSellImage .fastSellImage {
    font-size: 50px;
    color: #fcb040;
    width: 250px;
    text-align: right;
}
.middle .blockFastSellImage .fastSellImage .loader {
    text-align: center;
    margin-top: 10px;
    padding-top: 25px;
    background-image: url(../../images/universal/ajax_loader10.gif);
    background-position: top;
    background-repeat: no-repeat;
}
.middle .blockFastSellImage .btnRemoveImage {
    display: block;
    float:left;
    margin-top: 6px;
    margin-left: 92px;
}
.middle .tblFastSellInfo .headingIcon {
    margin-top: 4px;
    width: 100%;
    text-align: right;
    font-size: 45px;
}
.middle img.eventBannerImage {
    position: absolute;
    margin-left: 620px;
}
.middle .tblFastSellInfo {
    width: 100%;
}
.middle .tblFastSellInfo h2 {
    padding: 15px 10px 0px 10px;
}
.middle .tblFastSellInfo .title {
    padding: 18px 10px 10px 10px;
    font-size: 15px;
    font-weight: 200;
    text-align: right;
    color: #888888;
    width: 200px;
}
.middle .tblFastSellInfo .content {
    padding: 8px 10px 7px 10px;
    font-size: 15px;
    font-weight: 200;
    line-height: 24px;
}
.middle .tblFastSellInfo .content b {
    font-size: 15px;
    font-weight: bold;
}
.middle .bigBuyButton {
    float: right;
    padding: 20px 30px 20px 74px;
    margin-top: -6px;
    font-size: 24px;
    background-color: #399402;
}
.middle .bigBuyButton:hover {
    color: #fff;
    background-color: #2d7700;
}
.middle .bigBuyButton span {
    position: absolute;
    margin: -7px 0px 0px -45px;
    color: #fff;
    text-shadow: none;
    font-size: 34px;
}
.middle .fastsellCategories .mainHeading {
    display: block;
    width: 251px;
    height: 31px;
    text-indent: -1000px;
    background-image: url(../../images/messages/fastsell_categories.png);
    overflow: hidden;
}
.middle .fastsellCategories p {
    margin-top: 5px;
    color: #000;
    text-shadow: none;
}
.middle .fastsellCategories .inpCategorySearch {
    padding-left: 34px;
    width: 450px;
    background-image: url(../../images/icons/search.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
.middle .catBack {
    margin-top: 10px;
    background-color:#FFF;
}
.middle .catBack.loader {
    padding: 20px;
    background-image: url(../../images/universal/ajax_loader5.gif);
    background-repeat: no-repeat;
    background-position: 12px 12px;
}
.middle .catBack.blue {
    border: 1px solid #2390b5;
    background-image: url(../../images/universal/category_back.png);
}
.middle .catBack .breadCrumb {
    float: left;
    padding: 12px 15px 10px 24px;
    text-shadow: none;
    color: #fff;
    background-image: url(../../images/universal/category_divider.png);
    background-repeat: no-repeat;
}
.middle .catBack .breadCrumb.first {
    background: none;
    padding-left: 15px;
}
.middle .catBack .breadCrumb.last {
    background-image: url(../../images/universal/category_back_active.png);
    border-right: 1px solid #82cfea;
}
.middle .catBack .breadCrumb.first.last {
    background-position: -14px 0px;
}
.middle .catBack .btnDeleteCategory {
    float: right;
    text-shadow: none;
    font-size: 28px;
    margin: 6px 10px 0px 0px;
    color: #ffbe5e;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}
.middle .catBack .btnDeleteCategory:hover {
    color: #fff;
    cursor: pointer;
}
.middle .coolTable td {
    white-space: normal;
}