/**
 * customers.css
 * 
 * Written by Chris Humboldt at Emerge Studio
 */

/*-------------------------------------------------------

	Table of Contents:
	General
	Sunbox
  
---------------------------------------------------------*/



/* GENERAL
--------------------------------------------------------------------------------------- */


/* SUNBOX
--------------------------------------------------------------------------------------- */
.sunBox.popAddProducts .contentCenter .popup .profileImage {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.sunBox.popAddProducts td, .sunBox.popAddProducts th {
    padding: 5px;
}
.sunBox.popAddProducts table {
    width: 100%;
}
.sunBox.popAddProducts td {
    vertical-align: middle;
    border-top: 1px solid #b9b9b9;
}
.sunBox.popAddProducts td .inpUnits {
    width: 80px;
}
.sunBox.popAddProducts td .inpPrice {
    width: 80px;
}
.sunBox.popProductsMasterDataFile .contentCenter .popup .inset input {
    display: block;
    background-color: #fff;
    margin: 0px;
}