/**
 * forgot_password.css
 * 
 * Written by Chris Humboldt at Emerge Studio
 */

/*-------------------------------------------------------

	Table of Contents:
	General
  
---------------------------------------------------------*/



/* GENERAL
--------------------------------------------------------------------------------------- */
.pageForgotPassword .middle .whiteBack {
	padding:25px;
}
.pageForgotPassword .middle h2, .pageForgotPassword .middle h4 {
	text-align:center;
}
.pageForgotPassword .middle h2 {
	margin-top:84px;
}
.pageForgotPassword .middle h4 {
	color:#777;
}
.pageForgotPassword .middle .fpContainer {
	width: 345px;
	margin:0px auto;
	margin-top:40px;
}
.pageForgotPassword .middle .fpContainer input {
	margin-bottom:20px;
	font-size:16px;
	font-weight:300;
    width: 98%;
}
.pageForgotPassword .middle .fpContainer .btnResetPassword, .pageForgotPassword .middle .fpContainer .btnSaveNewPassword { 
	margin-left:84px;
}
.pageForgotPassword .middle .fpContainer .loginLink, .pageForgotPassword .middle .fpContainer .emergeStudioLink {
	display:block;
	text-align:center;
	margin:0px auto;
	color:#999;
}
.pageForgotPassword .middle .fpContainer .loginLink {
    width:110px;
    margin-top: 30px;
    margin-left: 106px;
    color: #fff;
}
.pageForgotPassword .middle .fpContainer .emergeStudioLink {
    width: 260px;
	margin-top:50px;
}
.pageForgotPassword .middle .fpContainer .emergeStudioLink:hover {
	color:#39a5e1;
}
.pageForgotPassword .fcSuccess {
	display:none;
	width:850px;
	margin:0px auto;
	margin-top:84px;
	padding-top:25px;
}
.pageForgotPassword .fcSuccess .note {
	margin-left:324px;
}
.pageForgotPassword .fcSuccess .btnLogin2 {
	margin-left:380px;
}