/**
 * customers.css
 * 
 * Written by Chris Humboldt at Emerge Studio
 */

/*-------------------------------------------------------

	Table of Contents:
	General
	Sunbox
  
---------------------------------------------------------*/



/* GENERAL
--------------------------------------------------------------------------------------- */
.pageProductDefinitions .listContain a span {
    display: block;
    float: left;
    width: 20px;
    padding-right: 5px;
    font-size: 18px;
    color: #217fb3;
}
.pageProductDefinitions .listContain .definitionIcon {
    font-size: 25px;
    color: #fcb040;
}
.pageProductDefinitions .listContain .productField {
    float: left;
    margin: 5px 10px 5px 0px;
    padding: 5px 28px 5px 14px;
}
.pageProductDefinitions .listContain .productField span {
    position: absolute;
    margin-left: 5px;
    margin-top: 2px;
}
.pageProductDefinitions .listContain .productField2 {
    float: left;
    margin: 5px 10px 5px 0px;
    padding: 5px 14px;
}

.pageProducts .rightContent .nothingSelected {
    display: block;
    height: 143px;
    margin-top: 10px;
    margin-bottom: 60px;
    text-indent: -1000px;
    overflow: hidden;
    background-image: url(../../images/universal/message_select_product_left.png);
    background-position: top;
    background-repeat: no-repeat;
}
.pageProducts .messageAddAProduct {
    display: block;
    width: 840px;
    height: 200px;
    margin: 0px auto;
    margin-bottom: 1px;
    background-image: url(../../images/messages/add_a_product.png);
    text-indent: -1000px;
    overflow: hidden;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.pageProducts .messageAddAProduct:hover {
    cursor: pointer;
}
.pageProducts .messageAddAProduct:active {
    margin-bottom: 0px;
    margin-top: 1px;
}
.itemContainer {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #f3f3f3;
    -webkit-box-shadow: 0px 1px 1px #c8c8c8;
    -moz-box-shadow: 0px 1px 1px #c8c8c8;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background: -webkit-linear-gradient(#f8f8f8, #ebebeb);
    background: -moz-linear-gradient(#f8f8f8, #ebebeb);
}
.itemContainer:hover {
    cursor: pointer;
    border: 1px solid #fafafa;
    border-top: 1px solid #f3f3f3;
    background: -webkit-linear-gradient(#fafafa, #fafafa);
    background: -moz-linear-gradient(#fafafa, #fafafa);
}
.itemContainer table {
    margin: 10px 12px;
}
.itemContainer table td {
    padding: 15px 10px;
    text-align: center;
    vertical-align: top;
}
.itemContainer table td.fullCell {
    width: 100%;
    white-space: normal;
    text-align: left;
}
.itemContainer table td .itemName {
    color: #000;
    font-size: 14px;
    width: 180px;
    overflow: hidden;
}
.itemContainer table td .itemNumber {
    font-size: 12px;
    font-weight: 300;
}
.itemContainer table td.itemDescription, .itemContainer table td .vendorName {
    font-size: 12px;
    color: #555555;
    font-weight: 300;
}
.itemContainer table td .vendorName {
    width: 100px;
}
.itemContainer table td .itemInformation {
    display: none;
}
.itemInformation .itemName {
    color: #000;
    font-size: 16px;
}
.itemInformation .itemVendor, .itemInformation .itemNumber {
    font-size: 12px;
    font-weight: 300;
}
.itemInformation .itemDescription {
    color: #555555;
    font-weight: 300;
    margin-top: 10px;
}
.itemInformation .itemImage {
    margin-top: 20px;
}
.itemContainer .inset {
    padding: 10px;
}
/* Small item container */
.itemContainer.small h5 {
    margin-bottom: 5px;
}
.itemContainer.small table td {
    padding: 8px 8px;
}
.itemContainer.small table td .greyTxt {
    font-size: 12px;
    line-height: 16px;
}
.itemContainer.small table td .extraValue {
    float:left;
    margin-right: 10px;
}
.itemContainer.small table td.productDetails {
    width: 600px;
}
.itemContainer.small table td.msrp {
    width: 130px;
}
.itemContainer.small table td .priceDiscountStock {
    float: right;
    padding: 15px;
    width: 100px;
    background-color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: rgba(0,0,0,0.34) 0px 1px 3px;
    -webkit-box-shadow: rgba(0,0,0,0.34) 0px 1px 3px;
}
.itemContainer.small table td .price {
    display: block;
    margin-bottom: 5px;
    color: #458c00;
    font-size: 20px;
    text-align: center;
}
.itemContainer.small table td .discount {
    display: block;
    margin-bottom: 2px;
    color: #179fce;
    font-size: 16px;
    text-align: center;
}
.itemContainer.small table td .quantity {
    display: block;
    text-align: center;
}
.pageProducts .rightContent .itemInformation label {
    margin-top: 15px;
}
.pageProducts .rightContent .itemInformation input, .pageProducts .rightContent .itemInformation textarea {
    width: 240px;
}
.pageProducts .rightContent .itemInformation textarea {
    padding: 9px 0px 8px 6px;
    height: 60px;
}
.messageNoProductDefinitions {
    display: block;
    width: 830px;
    height: 200px;
    margin: 0px auto;
    margin-bottom: 1px;
    background-image: url(../../images/messages/create_product_group.png);
    text-indent: -1000px;
    overflow: hidden;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.messageNoProductDefinitions:hover {
    cursor: pointer;
}
.messageNoProductDefinitions:active {
    margin-bottom: 0px;
    margin-top: 1px;
}
.messageNoDefinitions {
    display: block;
    width: 830px;
    height: 200px;
    margin: 0px auto;
    margin-bottom: 1px;
    background-image: url(../../images/messages/create_product_definitions.png);
    text-indent: -1000px;
    overflow: hidden;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.messageNoDefinitions:hover {
    cursor: pointer;
}
.messageNoDefinitions:active {
    margin-bottom: 0px;
    margin-top: 1px;
}



/* SUNBOX
--------------------------------------------------------------------------------------- */
.sunBox .contentCenter .popup .inset input.inpDefinitionName {
    margin-bottom: 0px;
}
.sunBox .contentCenter .popup .inset .definitionFieldContainer.deleteable input {
    width: 300px;
}
.sunBox .inset .btnDeleteDefinitionField {
    display: block;
    float: right;
    width: 24px;
    height: 24px;
    margin: 28px 4px 0px 6px;
    text-indent: -1000px;
    background-image: url(../../images/icons/cross_grey.png);
    background-position: top;
    overflow: hidden;
}
.sunBox .inset .btnDeleteDefinitionField:hover {
    cursor: pointer;
    background-position: bottom;
}
.sunBox .contentCenter .popup div.popupIcon {
    font-size: 70px;
}
.sunBox .contentCenter .popup .spacing {
    margin-right: 22px;
}
.sunBox .contentCenter .popup .includedDefinitionFields span {
    color: #406eb8;
    margin-right: 10px;
}
/* Add product */
.sunBox.popAddProduct .contentCenter .popup .leftColumn {
    width: 340px;
}
.sunBox.popAddProduct .contentCenter .popup .rightColumn {
    width: 760px;
}
.sunBox.popAddProduct .contentCenter .popup .rightColumn .inset {
    width: 340px;
}
.sunBox.popAddProduct .contentCenter .popup .leftColumn .icon {
    float: left;
    margin-right: 8px;
    margin-top: -3px;
    font-size: 20px;
}
.sunBox.popAddProduct .definitionSelection {
    margin: 0px 3px 1px 3px;
    padding: 13px 10px 10px 10px;
    background-color: #f2f2f2;
}
.sunBox.popAddProduct .definitionSelection:hover {
    cursor: pointer;
    background-color: #fff;
}
.sunBox.popAddProduct .definitionSelection.active {
    margin: 0px 0px 1px 0px;
    padding: 16px 15px 13px 15px;
    background-color: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.sunBox.popAddProduct .definitionSelection .icon-clipboard {
    color: #989898;
}
.sunBox.popAddProduct .definitionSelection .icon-checkmark-2 {
    color: #25aae1;
}
.sunBox.popAddProduct .definitionSelection .icon-checkmark-2, .sunBox.popAddProduct .definitionSelection.active .icon-clipboard {
    display: none;
}
.sunBox.popAddProduct .definitionSelection.active .icon-checkmark-2, .sunBox.popAddProduct .definitionSelection .icon-clipboard {
    display: block;
}
.sunBox.popAddProduct .inpProductDescription {
    height: 68px;
}
.sunBox.popAddProduct .includedFields .fieldContainerRequired {
    float: left;
    width: 170px;
    margin-top: 8px;
}
.sunBox.popAddProduct .includedFields input {
    width: 115px;
}
.sunBox.popAddProduct .includedFields .ui-datepicker-trigger {
    margin-left: 5px;
}